@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body{
    font-family: 'Kalam', cursive;
}


.comics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-around;
    

}
.page-link{
    color: black
}
.inner{
    overflow: hidden;

}
.inner.img{
    transition: all 1.5 ease;

}
.inner:hover img{
    transform: scale(1.5);
    transition-property: transform;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    flex-shrink: 0;
  
}
.resultCard{
    width: 15rem;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: -5px 5px 10px 3px #212529;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;

}
input{
    height: 60px;
    width: 90%;
    margin-left: 60px;
}